.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:hover,.btn-bd-download:active {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484
}

.btn-bd-download:focus {
    box-shadow: 0 0 0 3px rgba(255,228,132,0.25)
}

.bd-clipboard {
    position: relative;
    display: none;
    float: right
}

.bd-clipboard+.highlight {
    margin-top: 0
}

@media (min-width: 768px) {
    .bd-clipboard {
        display:block
    }
}

.btn-clipboard {
    display: inline !important;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: .75em;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid;
    border-radius: .25rem
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #0d6efd
}

textarea {
    position: absolute;
    left: -100%;
}
