{{#if error}}
    <div class="alert alert-danger">
        {{#if first_line}}
            <p>{{first_line}}</p>
        {{/if}}
        {{#if second_line}}
            <p>{{second_line}}</p>
        {{/if}}
        {{#if clear_cache}}
            <a href="#" onclick="window.localStorage.clear();">Nettoyer le Local Storage</a>
        {{/if}}
    </div>
{{else}}
    <div class="alert alert-success">
        {{#if first_line}}
            <p>{{first_line}}</p>
        {{/if}}
        {{#if second_line}}
            <p>{{second_line}}</p>
        {{/if}}
        {{#if clear_cache}}
            <a href="#" onclick="window.localStorage.clear();">Nettoyer le Local Storage</a>
        {{/if}}
    </div>
{{/if}}


