<div class="col-md-12 text-center mt-4 mb-4">
    <h2>{{name}}</h2>
    <p class="mb-1">Créé le {{created_at}}</p>
    <button onclick="location.href='{{link}}'" class="btn btn-sm btn-primary">Accéder au projet</button>
</div>

<div class="row border-top mb-2">
    <div class="col-md-6 mt-2 mb-2">
        <h4 class="text-decoration-underline">Description</h4>
        {{#if description}}
            <p>{{description}}</p>
        {{else}}
            <p>Aucune description trouvée.</p>
        {{/if}}
    </div>
    <div class="col-md-6 mt-2 mb-2">
        <h4 class="text-decoration-underline">SSH To Repo</h4>
        <div class="d-inline mb-2">
            {{{ssh}}}
            <button type="button" class="btn-clipboard" title="Copier" onclick="copySsh();">Copier</button>
        </div>
    </div>
</div>

{{#if hasSujet}}
    <div class="row text-center mb-2 pb-2 pt-2 mt-2 border-top" style="display: block">
        <h4 class="text-decoration-underline">Sujet</h4>

        <button id="button_readme" onclick="getFileContent({{id}}, 'sujet.md', 'subject_content'); hide(this)" type="button" class="btn btn-info"
                style="width: auto">Afficher le sujet
        </button>
        <div id="subject_content"></div>
    </div>
{{else if hasReadme}}
    <div class="row text-center mb-2 pb-2 pt-2 mt-2 border-top" style="display: block">
        <h4 class="text-decoration-underline">Readme</h4>

        <button id="button_readme" onclick="getFileContent({{id}}, 'README.md', 'readme_content'); hide(this)" type="button" class="btn btn-info"
                style="width: auto">Afficher le README
        </button>
        <div id="readme_content"></div>
    </div>
{{/if}}

<div class="col-md-12 text-center">
    {{#if accept}}
        <h2>Actions :</h2>
        <button class="btn btn-primary" onclick="hide($id('detailsTP'));acceptProject()">Accepter ce projet</button>
    {{/if}}
</div>

