<div class="col-md-12 text-center mt-4 mb-4">
    <h2>{{name}}</h2>
    <p class="mb-1">Créé le {{created_at}}</p>
    <button onclick="location.href='{{link}}'" class="btn btn-sm btn-primary">Accéder à mon projet</button>

</div>

<div class="row border-top mb-2">
    <div class="col-md-6 mt-2 mb-2">
        <h4 class="text-decoration-underline">Description</h4>
        {{#if description}}
            <p>{{description}}</p>
        {{else}}
            <p>Aucune description trouvée.</p>
        {{/if}}
        <hr>

        <h4>Etat de mon dépôt</h4>
        {{#if notPrivate}}
            <button type="button" onclick="makePrivate({{id}})" class="btn btn-info">Passer mon dépôt en privé</button>
        {{else if profAdded}}
            <div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2 text-success" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                <p class="d-inline">Dépôt privé</p>
            </div>

            <div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2 text-success" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                <p class="d-inline">Professeur ajouté</p>
            </div>
        {{else}}
            <div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2 text-success" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                <p class="d-inline">Dépôt privé</p>
            </div>

            <button type="button" onclick="addProfessor({{id}})" class="btn btn-info">Ajouter le professeur à mon
                dépôt
            </button>
        {{/if}}

    </div>
    <div class="col-md-6 mt-2 mb-2">
        <h4 class="text-decoration-underline">Cloner mon dépôt en SSH</h4>
        <div class="d-inline mb-2">
            {{{ssh}}}
            <button type="button" class="btn-clipboard" title="Copier" onclick="copySsh();">Copier</button>
        </div>
        <hr>
        <h4>Etat CI/CD (dernière pipeline)</h4>
        {{#if cicd.created_at}}
            <p>Heure de création: {{cicd.created_at}}</p>
            <div>
                {{{cicd.icone}}}
                <p class="d-inline">Etat: {{cicd.status}}</p>
            </div>
            <p><a href="{{cicd.web_url}}">Accéder à la pipeline</a></p>

        {{else}}
            <p>Aucune pipeline trouvée.</p>
        {{/if}}
    </div>
</div>

{{#if hasSujet}}
    <div class="row mt-4 text-center border-top" style="display: block">
        <h4 class="text-decoration-underline mt-2">Sujet</h4>

        <button id="button_readme" onclick="getFileContent({{id}}, 'sujet.md', 'subject_content'); hide(this)" type="button"
                class="btn btn-info"
                style="width: auto">Afficher le sujet
        </button>
        <div id="subject_content"></div>
    </div>
{{else if hasReadme}}
    <div class="row mt-4 text-center border-top" style="display: block">
        <h4 class="text-decoration-underline mt-2">Readme</h4>

        <button id="button_readme" onclick="getFileContent({{id}}, 'README.md', 'readme_content'); hide(this)" type="button"
                class="btn btn-info"
                style="width: auto">Afficher mon README
        </button>
        <div id="readme_content"></div>
    </div>
{{/if}}

{{#if hasReport}}
    <div class="row mt-4 text-center border-top" style="display: block">
        <h4 class="text-decoration-underline mt-2">Rapport texte CI/CD</h4>

        <button id="button_readme" onclick="getFileContent({{id}}, 'rapport.md', 'report_content'); hide(this)" type="button"
                class="btn btn-info"
                style="width: auto">Afficher le rapport de la dernière pipeline
        </button>
        <div id="report_content"></div>
    </div>
{{/if}}
