<h2>Projets récemment visités :</h2>
<ul class="TPs_list">
    {{#each TPs}}
        <li><a href="./?project={{this.id_tp}}">{{this.name}}</a></li>
    {{/each}}
</ul>

<a href="#" onclick="window.localStorage.removeItem('hist_tp');document.location.reload();">Vider l'historique et recharger la page</a>
