<div class="container-fluid">
    <a class="navbar-brand">Travo</a>
    {{#if connected}}
        <div class="d-flex">
            <div class="p-2 mt-auto mb-auto">{{connected.name}}</div>
            <img src="{{connected.image}}" width="40" height="40"
                 class="d-inline-block align-top" alt="" loading="lazy">
        </div>
    {{/if}}
</div>
