<hr>
<div class="col-md-4"></div>
<div class="col-md-4 text-center mt-4 mb-4">
    <p>Le fichier que vous allez mettre en ligne doit être un fichier de code ou de texte (pas de binaire, exécutable, ou archive).</p>
    <input type="file" class="form-file-input" id="customFile" onchange="changeName(this.value);">
    <label for="customFile">
        <span class="form-file-text" id="labelCustomFile">Choisir un fichier...</span>
        <span class="form-file-button">Parcourir</span>
        <button onclick="commitFile()" class="btn btn-sm btn-primary">Envoyer le fichier</button>
    </label>
</div>
<div class="col-md-4"></div>

